<form method="post" action="{{ path('app_stock_delete', {'id': stock.id}) }}" style="display:inline-block;" onsubmit="return confirm('Are you sure you want to delete this stock item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stock.id) }}">
    <button class="btn btn-danger btn-xs shadow-sm" title="Delete">
        <i class="fas fa-trash"></i>
    </button>
</form>
