{% extends 'adminlte.html.twig' %}

{% block title %}New Stock Item{% endblock %}
{% block page_title %}Create New Stock{% endblock %}

{% block body %}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endfor %}

<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Stock Details</h3>
            </div>
            {{ include('stock/_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
